.portfolio {
  position: relative;  

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;
    overflow: hidden;
    

    .progressBar {
      height: 10px;
      background-color: white;
      
    }
  }
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    

    .wrapper {

      max-width: 1366px;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 50px;
      margin: auto;

      .imageContainer {
        flex: 1;
        height: 50%;
        overflow: hidden;

        img {
          height: 100%;
          object-fit: cover;
        }    
      }
      .textContainer {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 30px;

          h2{
            font-size: 60px;
          }

          p{
            font-size: 20px;
            color: gray;
          }

          button{
            background-color: orange;
            border-radius: 10px;
            border: none;
            width: 200px;
            padding: 10px;
            cursor: pointer;
          }
        }
    }
  }
}
