@import "../../app.scss";



.portfolio {
  position: relative;

  .progress {
   
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 20px;
    text-align: center;
    color: orange;
    font-size: 36px;
    overflow: hidden;
    @include mobile {
      font-size: 25px;
      padding-top: 10px;
      padding-left: 60px;
      padding-right: 60px;
    }

    .progressBar {
      height: 10px;
      background-color: white;
    }
  }
  .container {

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include mobile {
      flex-direction: column;
    }

    .wrapper {
      max-width: 1366px;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 50px;
      margin: auto;

      @include mobile {
        flex-direction: column;
        padding-top: 130px;
        gap: 20px;
      }

      .imageContainer {
   
        flex: 1;
        height: 50%;
        overflow: hidden;
        padding-left: 20px;
        @include mobile {
        width: 100%;
        padding: 10px;
      }

        img {
          height: 100%;
          object-fit: cover;

          @include mobile{
            width: 100%;
          }
        }
      }
      .textContainer {
        flex: 1;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include mobile{
            gap: 20px;
            align-items: center;
          }

        h2 {
          font-size: 60px;
          @include mobile{
            font-size: 35px;
            text-align: center;
          }
        }

        p {
          font-size: 20px;
          color: gray;

          @include mobile{
            font-size: 18px;
            text-align: center;
          }
        }

        button {
          background-color: orange;
          border-radius: 10px;
          border: none;
          width: 200px;
          padding: 10px;
          cursor: pointer;
        }
      }
    }
  }
}
