.navbar {
  height: 100px;

  .wrapper {
    padding-left: 100px;
    padding-right: 50px;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    

    span {
      font-weight: bold;
      font-size: 30px;
    }

    .social {
      display: flex;
      gap: 20px;

      a{
        font-size: 40px;
      }
    }
  }
}
