@import "../../app.scss";

.navbar {
  height: 100px;

  .wrapper {
    padding-left: 100px;
    padding-right: 50px;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      padding-right: 20px;
    }

    span {
      font-weight: bold;
      font-size: 30px;

      @include mobile {
        font-size: 25px;
      }
    }

    .social {
      display: flex;
      gap: 20px;

      a {
        font-size: 40px;

        @include mobile {
          font-size: 30px;
        }
      }
    }
  }
}
